*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-all{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 359px;
  height: 118px;
}

.my-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
}

.telephone-icon {
  width: 22px;
  height: 22px;
  color: #B5BA3A;
  margin-right: 5px;
}

.telephone-number{
  font-size: 18px;
  color: #358EAE;
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 991px) {
  .telephone-icon{
    display: none;
  }
  .telephone-number{
    display: none;
  }
}

@media (max-width: 793px) {
  .logo {
    width: 80%;
    height: 80%;
  }
  .navbar-all{
    display: block;
    justify-content: center;
    align-items: center;
  }
}